@font-face {
    font-family: Josefin Sans;
    src: url(../fonts/Josefin_Sans/JosefinSans-Regular.ttf);
  }

  @font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  }